
@{
    ViewData["Title"] = "OurServices";
}

<h1>OurServices</h1>
<div class="text-justify">
    <p>
         <ul>
            <li><b>Software Development</b></li>
            <li><b>Corporate Trainings</b></li>
            <li><b>Educational Trainings</b></li>
            <li><b>Webinars</b></li>
        </ul>
        
    </p>
</div>
